<div style="padding: 30px">
  {% assign selectedVariant = product.selected_or_first_available_variant %}
  {% if selectedVariant.featured_image %}
    {% assign featuredImage = selectedVariant.featured_image %}
    <img
      id="product-featured-image-{{product.id |  handleize}}"
      src="{{ selectedVariant.featured_image | image_url }}"
      width="300"
      height="300"
    >
  {% else %}
    {% assign featuredImage = product.featured_image %}
    <img
      id="product-featured-image-{{product.id |  handleize}}"
      src="{{ product.featured_image | image_url }}"
      width="300"
      height="300"
    >
  {% endif %}

  {% if product.variants.size > 1 %}
    {% capture variantAltText %}Group-{{ selectedVariant.options[0] }}{% endcapture %}
  {% endif %}

  {{ variantAltText }}
  <h3>Thumbnail Images</h3>
  <div
    id="product-thumb-container-{{product.id|handle}}"
    class="relative container flex justify-center items-center flex-wrap mx-auto px-4 bg-red-400"
  >
    {% for image in product.images %}
      <img
        width="200"
        height="200"
        src="{{image |  image_url }}"
        class="
          {% if image == featuredImage %}
            selected
          {% endif %}
        "
      >
    {% endfor %}
  </div>
  <h1 id="product-title-{{product.id |  handleize}}">
    {{ selectedVariant.title }}
  </h1>
  <p id="product-vendor-{{product.id |  handleize}}">{{ product.vendor }}</p>

  <div class="product-price-container">
    <p id="product-price-{{product.id |  handleize}}" class="product.price">
      Price:
      <strong>{{ selectedVariant.price | money_with_currency }}</strong>
    </p>

    {% if selectedVariant.compare_at_price and selectedVariant.compare_at_price > selectedVariant.price %}
      <p
        id="product-compare-at-price-{{product.id |  handleize}}"
        class="product.price"
      >
        Compare At Price:
        <strong>
          {{- selectedVariant.compare_at_price | money_with_currency -}}
        </strong>
      </p>
    {% endif %}
  </div>

  <label for="product-quantity-input-{{product.id |  handleize}}">Product Quantity</label>
  <div style="display: flex; justify-content: flex-start; align-items: center;">
    <button
      style="padding: 10px; background-color: gray;"
      type="button"
      id="product-quantity-plus-{{product.id |  handleize}}"
    >
      Increment
    </button>
    <input
      type="text"
      id="product-quantity-input-{{product.id |  handleize}}"
      aria-describedby="hint"
      inputmode="numeric"
      pattern="[0-9]*"
    >
    <button
      style="padding: 10px; background-color: gray;"
      type="button"
      id="product-quantity-minus-{{product.id |  handleize}}"
    >
      Decrement
    </button>
  </div>

  {% if product.variants.size > 1 %}
    <div
      id="product-variant-radio-group-{{product.id |  handleize}}"
      class="product-variant-radio-group"
    >
      {% for option in product.options_with_values -%}
        <fieldset>
          <legend>{{ option.name }}</legend>

          {% for value in option.values %}
            <input
              {% if option.selected_value == value %}
                checked
              {% endif %}
              type="radio"
              name="{{ option.name }}"
              value="{{ value }}"
              id="{{ option.name | handleize }}-{{ value | handleize }}-{{product.id |  handleize}}"
            >
            <label for="{{ option.name | handleize }}-{{ value | handleize }}-{{product.id |  handleize}}">
              {{- value -}}
            </label>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </div>
  {% endif %}

  <!-- Add to cart button -->
  <button
    style="padding: 10px; background-color: gray;"
    type="submit"
    id="product-add-to-cart-button"
    {% unless selectedVariant.available %}
      disabled
    {% endunless %}
  >
    {% if selectedVariant.available %}
      Add To Cart
    {% else %}
      Out Of Stock
    {% endif %}
  </button>

  <!-- Buy it now button -->
  <button
    style="padding: 10px; background-color: gray;"
    type="submit"
    id="product-buy-it-now-button"
    {% unless selectedVariant.available %}
      disabled
    {% endunless %}
  >
    {% if selectedVariant.available %}
      Buy It Now
    {% else %}
      Out Of Stock
    {% endif %}
  </button>
</div>

<script>
  /***
  $(document).ready(() => {
    $('#product-thumb-{{ product.id | handle }}').slick({
      dots: true,
      arrows: true,
      infinite: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 2,
      mobileFirst: true,
      prevArrow: $('#slick-prev-btn-{{product.id | handle}}'),
      nextArrow: $('#slick-next-btn-{{product.id | handle}}'),
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
          },
        },
      ],
    });
  });
  */
</script>

<script src="{{" product.js" | asset_url}}" defer></script>
<script>
  $(document).ready(function() {
    productJs.setProduct({{ product | json}});
    productJs.setHandlizedId({{product.id |  handleize}});
    productJs.handleVariantChange();
  });
</script>

<style>
  .selected {
    border: 5px solid green;
  }
</style>
